.hero-image {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px; /* Adjust as needed */
    background-position-y: -100px;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Or a contrasting color */
}

.parallax {
    position: relative;
    z-index: -1;
    transform: translateZ(0px) scale(1.5); /* Adjust scale for desired effect */
}
  
.parallax::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: inherit;
    transform: translateZ(-1px) scale(1.5); /* Adjust scale for desired effect */
}